body{
    margin: 0;
    height: 100%;
    background-image: url('images/back.jpg');
    background-size: cover;
}
.container{
    width: 100%;
    padding: 0;
}
.iniciar{
    position:fixed;
    width: 400px;
    background:green;
    margin-left:50%;
    left:-200px;
    padding: 30px 100px;
    bottom: 55px;
    color: white;
    border-radius: 10px;
}

.pregunta{
    width: 100%;
    height: 40;
    background-color: white;
}
.cont{
    width: 160px;
    height: auto;
    margin-bottom: 10px;
}
.respuesta{
    width: 150px;
    height: auto;
    background: white;
    text-align: center;
    margin-bottom: 10px;
}
.cont img{
    width: 100%;
}
.text{
    width: 80%;
  height: 300px;
  overflow: scroll;
}

#content {
    margin: 80px 70px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.juego{
    height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:aquamarine;
  overflow-x: hidden;
  transition: 1.5s;
}
.divisor{
    overflow: hidden;
    width: 100%;
    padding: 0 30px;
}
.divisor .col {
    float: left;
    width: 50%;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    
  }
  @keyframes bounce {
    
    0% {
        transform: translateY(55px);
      }
      50% {
        transform: translateY(0 px);
      }
  }
  .bounce {
    
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }


  @media only screen and (max-width: 768px) {
        .iniciar{
            width: 200px;
            left: -100px;
            padding: 30px 50px;
        }
  }